.sl-sidebar {
    position: fixed;
    width: 165px;
    display: flex;
    height: 100%;
    background-color: #235132;
    flex-direction: column;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.sl-main-content {
    background: #ffffff;
    height: 673px;
}

.sl-main-heading {
    align-items: center;
    margin-left: 46%;
    font-family: 'Courier New', monospace;
     font-weight: 600;
}

.sl-shiftlog-table {
    margin-left: 19%;
    margin-top: 5%;
}

.sl-shift-btn {
    background: #ffffff;
    border-radius: 10px;
}

.sl-slidebar-btn {
    text-decoration: none;
    padding-top: 13px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-weight: 600;
}

.sl-sidebar-head {
    background-color: #348351;
    color: white;
    height: 14%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    font-family: 'Courier New', monospace;
}

.sl-shiftlog-table {
    font-size: 20px;
    font-weight: 600;
}

.sl-table-heading {
    font-size: 34px;
      font-family: 'Courier New', monospace;
}

.sl-shift-marker{
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    gap: 30px;
}
#EmployeeListDdl button {
  width: 150px;           
  text-align: left;         
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;   
}